body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #1355cff3;
    font-family: sans-serif;
}

.container {
    position: relative;
    height: 100vh;
    width: 60%;
    left: 20%;
    margin-top: 0;
    background-color: white;
    overflow: hidden;
    /* animation: container .3s linear infinite; */
}

.line {
    position: absolute;
    height: 150px;
    width: 4%;
    margin-left: 48%;
    background-color: black;
}

#line_1 {
    top: -150px;
}

#line_2 {
    top: 150px;
}

#line_3 {
    top: 450px;
}

.car {
    position: absolute;
    height: 60px;
    width: 40px;
    border-radius: 0px;
}

#car_racer2 {
    bottom: 8%;
    left: 60%;
}

#car_racer1 {
    bottom: 8%;
    left: 30%;
}

#car_1 {
    top: -100px;
    left: 60%;
    background-color: #26c5ff;
}

#car_2 {
    top: -200px;
    left: 40%;
    background-color: #26c5ff;
}

#car_3 {
    top: -350px;
    left: 50%;
    background-color: #26c5ff;
}

#car_4 {
    top: -80px;
    left: 30%;
    background-color: #26c5ff;
}

#restart_div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #292929;
    color: white;
    font-family: sans-serif;
    text-align: center;
    display: none;
}

#restart {
    border: none;
    padding: 25px;
    color: white;
    background-color: #8a64ff;
    font-size: 30px;
    margin-top: 30%;
}

.small_text {
    font-size: 15px;
}

#score_div {
    position: absolute;
    margin-top: 0;
    margin-left: 0%;
    font-size: 35px;
    background-color: #51b6d4;
    color: #454545;
    padding: 10px;
}

#help {
    text-align: center;
}

#donate {
    position: absolute;
    right: 10px;
    top: 25px;
    background-color: rgba(255, 255, 255, 0.8);
}


/*#controller {
    position: absolute;
    margin-left: 75%;
    margin-top: 90%;
}*/

#down {
    position: absolute;
    margin-left: 72%;
    margin-top: 77%;
    background: url(../../images/down.png);
    width: 232px;
    height: 220px;
}

#up {
    background: url(../../images/up.png);
    width: 232px;
    height: 220px;
    position: absolute;
    margin-left: 72%;
    margin-top: 55%;
}

#containment-wrapper {
    width: 95%;
    height: 150px;
    border: 2px solid #ccc;
    padding: 10px;
}

#policediv {
    display: none;
}

.police {
    position: absolute;
    width: 200px;
    height: 150px;
    top: 80%;
}

#police_1 {
    background: url(../../images/heli_right.png);
    margin-left: 6%;
    display: none;
}

#police_2 {
    background: url(../../images/heli_left.png);
    margin-left: 65%;
    display: none;
}

#life_div {
    position: absolute;
    height: 10%;
    width: 100%;
    top: 10%;
}

.life {
    position: absolute;
    top: 5%;
    height: 45%;
    width: 29px;
}

.player1_life {
    position: absolute;
    background: url(../../images/life.png);
	    background-repeat: no-repeat;
}

.player2_life {
    position: absolute;
    background: url(../../images/life.png);
	    background-repeat: no-repeat;
}

#life11 {
    float: left;
}

#life21 {
    left: 81%;
}

#life22 {
    left: 84%;
}

#life23 {
    left: 87%;
}

#life24 {
    left: 90%;
}

#life25 {
    left: 93%;
}

#life12 {
    left: 3%;
}

#life13 {
    left: 6%;
}

#life14 {
    left: 9%;
}

#life15 {
    left: 12%;
}

.result {
    width: 100%;
    position: absolute;
    height: 25%;
    background-color: #2fc2ba52;
    top: 75%;
    font-style: italic;
}

.result p {
    display: block;
}

#right_result {
    position: absolute;
    left: 85%;
    top: 10%;
}

#left_result {
    position: absolute;
    left: 5%;
    top: 10%;
}

.result_div {
    display: none;
}

.winner {
    font-size: 40px;
}